<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Sala de Eventos</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"></link>

    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarEvento">
                            <i class="fas fa-plus"></i> Añadir Evento
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="agregarEvento">
            <div id="agregarEvento" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Añadir Evento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/evento/guardar}" th:object="${evento}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="description">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="description">Tipo</label>
                                    <input type="text" class="form-control" name="tipo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_inicio">Fecha Inicio</label>
                                    <input type="text" class="form-control" name="fecha_inicio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_fin">Fecha Fin</label>
                                    <input type="text" class="form-control" name="fecha_fin" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="capacidad">Capacidad</label>
                                    <input type="text" class="form-control" name="capacidad" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="active">Active</label>
                                    <input type="checkbox" class="form-check-input" name="active" >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoEventos" id="products">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline">[[#{index.nuestrosProductos}]]</h2>
                    <div id="resultsBlock"></div></div>
                <div class="row row-cols-3" 
                     th:if="${eventos != null and !eventos.empty}">
                    <div class="card" th:each="evento : ${eventos}">
                        <div class="card-body">
                            <h5 class="card-title">[[${evento.nombre}]]</h5>
                            <form>
                                <input type="hidden" name="texto" th:value="${evento.id}"/>
                                <input type="hidden" name="texto" th:value="${evento.nombre}"/>
                                <button class="btn btn-ligth" id="addCar" 
                                        name="addCar" onclick="addCard(this.form)" 
                                        type="button"><i class="fas fa-cart-plus"></i></button>
                            </form>
                            <p class="card-text">[[${evento.descripcion}]]</p>                            
                        </div>
                    </div>
                </div>
                <div th:if="${eventos == null or eventos.empty}">
                    [[#{carrito.no_mostrar}]]</div>
            </div>
        </section>

        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    Ver Reservas [[${listaTotal}]]
                </button>
            </form>
        </div>     

        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Eventos Registrados</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th>Capcidad</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.nombre}]]</td>
                                            <td class="text-end">[[${item.descripcion}]]</td>
                                            <td class="text-center">[[${item.fecha_inicio}]]</td>
                                            <td class="text-center">[[${item.fecha_fin}]]</td>
                                            <td class="text-center">[[${item.capacidad}]]</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items== null or items.empty}">
                                [[#{carrito.no_mostrar}]]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>Total de Eventos</h3>
                                <h4 class="fs-4">
                                    [[${carritoTotal}]]
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/}"
                                   class="btn btn-success">
                                    <i class='fas fa-reply'></i> [[#{carrito.seguirComprando}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>